.page-bg {
  background: #000000;

}

h3 {
  padding-bottom: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px !important;
  letter-spacing: 0.2px;
  font-weight: 450 !important;
}

.main-container {
  margin: auto;
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.features {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.subtitle {
  color: gray;
  font-size: 14px;
}

.card-box {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card-box:hover {
  transform: translateY(-8px);
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}



.footer {

  text-align: center;

  padding: 20px;

  background: linear-gradient(75deg, #04364a, #1f85a7);

  color: #cbd5f5;

}




.stats {

  display: flex;
  justify-content: space-around;
  width: 900px !important;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  padding: 25px;
  margin: 40px 20px;
  margin-left: 200px;
  border-radius: 12px;
  text-align: center;
}

.stats span {
  display: block;
  font-size: 12px;
  opacity: 0.8;
  font-weight: 500 !important;

}

#num {
  font-weight: 700;
}


.how {
  border-radius: 30px;
  box-shadow: 1px 2px 10px 10px rgba(10, 154, 173, 0.2);
  transition: 0.3s;
  text-align: center;
  margin: 40px;
  padding: 60px 20px;

}

.htext {
  font-weight: 330;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8;
}

.steps {

  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 20px;
  background: #ffffff;

  flex-wrap: wrap;

}

#step1 {
  background: linear-gradient(to left, white, #d4e1f9);
  color: #102c5d;
}

#step2 {
  background: white;
  color: #102c5d;
}

#step3 {
  background: linear-gradient(to right, white, #d4e1f9);
  color: #102c5d;
}

#step1:hover {
  transform: translateY(-8px) scale(1.02);
}

#step2:hover {
  transform: translateY(-8px) scale(1.02);
}

#step3:hover {
  transform: translateY(-8px) scale(1.02);
}

.step {
  width: 300px !important;
  padding: 30px 20px;
  border-radius: 35px !important;
  border: none !important;
  text-align: center;
  box-shadow: 5px 7px 28px rgba(10, 97, 173, 0.2);
  transition: 0.3s;
}

#step1,
#step2,
#step3 {
  position: relative;
  z-index: 1;
}

.steps::before {
  content: "";
  position: absolute;
  top: -80px;
  left: -35px;
  width: 200px;
  height: 200px;
  background: url("../../assets/images/Picture5.svg") no-repeat center;
  background-size: contain;
  opacity: 0.8;
  z-index: 0;
  filter: blur(0.7px);

}

.steps::after {
  content: "";
  position: absolute;
  bottom: -80px;
  right: -35px;
  width: 200px;
  height: 200px;
  background: url("../../assets/images/Picture4.svg") no-repeat center;
  background-size: contain;
  z-index: 0;
  filter: blur(0.7px);
}